@font-face{
    font-family: "Trebuchet MS";
    src: url("font/Trebuchet MS.ttf");

}
@font-face{
    font-family: "Vera Crouz";
    src: url("font/Vera Crouz.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: #000;
}
nav a:hover{
    color: #fff;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 920px;
    margin: auto;
}
li{
    list-style: none;
}
header{
    min-height: 145px;
}
.inner{
    display: flex;
    justify-content: flex-end;
    max-height: 21px;
}
.btnSearch{
    background: url("images/search.png") no-repeat center top;
    font-size: 0;
    width: 25px;
    height: 20px;
    margin: 0;
    padding:0;
    border: 0;
    text-indent: -1000em;
    cursor: pointer; 
}
#search{
    background-color: #a4a3a3;
    color: #fff;
    border: 0;
    height: 21px;
    padding-left: 5px;
}
#search::-webkit-input-placeholder {color:#fff;}
#search::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
#search:-moz-placeholder           {color:#fff;}/* Firefox 18- */
#search:-ms-input-placeholder      {color:#fff;}
.hel{
    background-color: #e8e6ef;
    text-align: center;
    margin-bottom: 8px;
    box-shadow:0 10px 15px -4px rgba(0,0,0,0.5);
}
.hel p{
    color: #6e6d72;
    font-size: 15px;
    font-family: "Trebuchet MS";
    height: 40px;
}
.hel .l span{
    font-family: "Vera Crouz";
    font-size: 45px;
}
.hel .o{
    font-family: "Vera Crouz";
    font-size: 21px;
}
ul{
    display: flex;
}
header nav li{
    align-content: space-between;
    width: 16.7%;
    margin-right:2px; 
    background-color: #939099;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;

}
li:last-child{
    margin-right:0; 
}
.lang{
    margin: 0 2px 0 2px;
}
.activeLang{
    background-color: #60b527;
}
.slider{
    max-height: 410px;
}
.line{
    margin-top: 25px;
}
.line h1{
    font-family: "Vera Crouz";
    font-size: 30px;
    font-weight: 400;
    margin-left: 30px;
}
.showLine{
    height: 2px;
    background-color: #6bba36;
}
main{
    background-color: #eff1ef;
    margin-bottom: 40px;
    box-shadow: 0 15px 21px 2px rgba(0,0,0,0.5);
}
aside{
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

/* footer*/
footer{
    display: flex;
    background-color: #60b527;
}
footer ul{
    flex-direction: column;
}
nav,.happy,.social{
    border-right: 1px solid #fff;
}
footer nav{
    padding: 20px 25px 20px 30px;
}
footer .happy p:first-child{
    padding: 20px 20px 0px 20px;
}
footer .happy p:last-child{
    padding: 2px 20px 0px 20px;
}
.social a{
    display: inline-flex;
}
.a{
   padding:  10px 12px 20px 20px;
}
.b{
    padding: 10px 12px 20px 0px;    
}
.c{
    padding: 10px 20px 20px 0;
}
.cop p{
    padding: 35px;
}
.block1,.block2{
    background-color: #eff1ef;
}
.headText{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: #60b527;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 30px;
    font-family: "Trebuchet MS";
    font-size: 16px;
    font-weight: 100;
    box-shadow: 0 15px 21px 2px rgba(0,0,0,0.5);
}
.text p{
    margin: 0 50px 10px 60px;
}
.text a{
    display: block;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #60b527;
    width: 20%;
    float: right;
}
.text:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
    .next{
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        
    }
    .next a{
        margin-left: 5px;
        font-size: 14px;
        padding: 5px 5px 0px 5px;
    }
    .next p{
        margin-top: 5px;
    }
    .allNews{
        display: flex;
        border-bottom: 2px solid #69b834;
        justify-content: center;
        width: 20%;
        margin: auto;
    }
    .in{
        display: flex;
        justify-content: center;
        margin: 10px 0 20px 0;
    }
    .in img{
        margin-left: 2px;
    }
    .calendars{
        background-color: #898592;
        width: 100%;
        height: 222px;
        margin-top: 10px;
        box-shadow: 0 15px 21px -5px rgba(0,0,0,0.5);
        border-radius: 50px 0 0 0;
    }
    .content{
        display: flex;
    }
    .plan{
        background-color: #dbd6e5;
        height: 180px;
        margin-top: 25px;
        box-shadow: 0 15px 21px -5px rgba(0,0,0,0.5);
    }
    .plan h3{
        padding: 9px 0px 9px 20px;
        background-color: #60b527;
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0 15px 21px -5px rgba(0,0,0,0.5);
    }
    .site h3{
        padding: 9px 0px 9px 20px;
        font-size: 16px;
        font-weight: 500;
    }
    .calendars h3{
        padding: 9px 0px 9px 20px;
        font-size: 16px;
        font-weight: 500;
        float: left;
    }
    .calendars h3:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        }
    .line:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        }
    .plan h3 span,.site h3 span,.calendars h3 span{
        font-family: "Vera Crouz";
        font-size: 25px;
    }
    .plan p{
        margin-top: 30px;
        text-align: center;
        border-bottom: 2px solid #60b527;
        font-weight: bold;
    }
    .site{
        background-color: #898592;
        height: 72.5%;
        margin-top: 40px;
        box-shadow: 0 15px 21px -5px rgba(0,0,0,0.5);
        padding: 0 15px;
    }
    @media screen and (max-width:700px) {
        .content{
            flex-direction: column;
        }
    }
    .site a{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    /*Calendar*/
  .arrow {
       position: absolute;
       top: 6.5px;
       text-decoration: none;
       font-size: 21px;
       color: #000000;
       cursor: pointer;
   }
          
  .arrow:active {
       color: #221f1f;
   }

   table#calendar {
    padding-top: 15px;
    font-size: 16px;
       text-align: center;
   }
   #calendar caption {
       line-height:37px;
       font-style: italic;
       font-size: 17px;
       color: hsl(0, 0%, 88%);
       background: rgba(90, 55, 194, 0.74);
   }
   #calendar th {
       padding: 5px;
       cursor: default;
   }

          #calendar td.prev-month, #calendar td.next-month {
              color:#224dc4;
          }

          #calendar td:nth-child(6):not(.next-month):not(.prev-month), #calendar td:nth-child(7):not(.next-month):not(.prev-month) {
              color: #fff;
          }
          #calendar td.today span {
              display: block;
              width: 30px;
              height: 30px;
              margin-left: 20px;
              line-height: 30px;
              border-radius: 100%;
              background: #07a826;
              color: #000;
          }
          
          #calendar td.today span:hover {
              background: #0080ff;
          }
      .lines{
          background-color: #60b527;
          width: 50%;
          height: 50px;
          float: right;
      }
      .calendars img{
        position: relative;
        top: -130px;
        width: 92px;
        left: 210px;
      }
      #showDate{
        color: #fff;
        text-align: center;
        padding: 15px 0;
        font-size: 20px;
        font-weight: bold;
      }